/*==============================
            MENU
===============================*/

.menu{

    padding:100px 8%;

    background:#0D0D0D;

}

.section-title{

    text-align:center;

    margin-bottom:70px;

}

.section-title h2{

    font-family:'Bebas Neue',sans-serif;

    font-size:4rem;

    color:white;

    letter-spacing:2px;

}

.section-title p{

    color:#BDBDBD;

    margin-top:10px;

}

/*==============================
            CARDS
===============================*/

.cards-container{

    width:min(1100px,92%);

    margin:0 auto;

    display:flex;

    flex-direction:column;

    gap:28px;

}

.card{

    display:grid;

    grid-template-columns:300px 1fr;

    align-items:center;

    background:#171717;

    border-radius:22px;

    overflow:hidden;

    transition:.35s;

    border:1px solid rgba(255,255,255,.06);

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 30px 80px rgba(106,44,145,.18);

}

.card img{

    width:calc(100% - 30px);

    height:190px;

    margin:15px;

    border-radius:16px;

    object-fit:cover;

    display:block;

    transition:.4s;

}

.card-info{

    padding:25px 35px;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.badge{

    color:#D4AF37;

    font-size:14px;

    font-weight:600;

    margin-bottom:15px;

}

.card h3{

    font-family:'Bebas Neue',sans-serif;

    font-size:2.2rem;

    color:white;

    margin-bottom:15px;

}

.card p{

    color:#BDBDBD;

    line-height:1.8;

    margin-bottom:25px;

}

.card h4{

    color:#D4AF37;

    font-size:2rem;

    font-weight:700;

    text-align:right;

    padding-right:15px;

    margin-top:25px;

}