/*==============================
            HERO
===============================*/

.hero{

    min-height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:80px 8%;

    background:#0D0D0D;

}

.hero-left{

    width:100%;

    max-width:700px;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    text-align:center;

}

.logo{

    width:430px;

    max-width:90%;

    margin-bottom:25px;

}

.hero h1{
    font-family:'Bebas Neue',sans-serif;
    font-size:7rem;
    line-height:0.85;
    color:white;
    margin:0;
}

.hero h1 .linea1{
    display:block;
    color:white;
}

.hero h1 .linea2{
    display:block;
    color:#6A2C91;
}

.hero h1 span{

    color:#6A2C91;

}

.hero p{

    margin:25px 0 40px;

    color:#bdbdbd;

    line-height:1.8;

    max-width:620px;

    font-size:1.2rem;

    text-align:center;

}

.btn-principal{

    display:inline-block;

    padding:18px 45px;

    border-radius:50px;

    background:#6A2C91;

    color:white;

    font-weight:600;

    transition:.35s;

    box-shadow:0 0 30px rgba(106,44,145,.35);

    align-self:center;

}

.btn-principal:hover{

    background:#6A2C91;

    transform:translateY(-5px);

}

@keyframes fadeLeft{

    from{

        opacity:0;

        transform:translateX(-60px);

    }

    to{

        opacity:1;

        transform:none;

    }

}


