@media(max-width:1000px){

    .hero{
    
        grid-template-columns:1fr;
    
        text-align:center;
    
    }
    
    .hero p{
    
        margin:auto;
    
        margin-top:25px;
    
        margin-bottom:35px;
    
    }
    
    .hero-right{
    
        margin-top:60px;
    
    }
    
    .card{

        grid-template-columns:1fr;
    
    }
    
    .card img{
    
        width:100%;
    
        height:240px;
    
    }
    
    .card-info{

        padding:20px;
    
    }
    
    .card img{
    
        height:220px;
    
    }
    
    .card h4{
    
        font-size:1.8rem;
    
    }
    
    .card p{
    
        font-size:.95rem;
    
    }
    
    .card h4{
    
        text-align:right;
    
    }
    
    .info{
    
        grid-template-columns:1fr;
    
    }
    
    .hero h1{
    
        font-size:5rem;
    
    }
    
    }
    
    @media(max-width:600px){
    
    .hero{
    
        padding:60px 30px;
    
    }
    
    .hero h1{
    
        font-size:3.8rem;
    
    }
    
    .logo{
    
        width:180px;
    
    }
    
    .section-title h2{
    
        font-size:3rem;
    
    }
    
    .card h3{
    
        font-size:1.8rem;
    
    }
    
    
    
    }




    